<div class="slidershow">
</div>

<div class="container">
  <h1 class="allcosts">Your Disposable Income! - $<%= Income.where(user_id: @current_user.id).sum('amount') - Cost.where(user_id: @current_user.id).sum('amount') %>/month</h1>
</div>
