<div class="post-container">
  <div class="postbox">
    <div class="post">
      <p><%= cost.title %></p>
      <p><%= cost.amount %></p>
      <div class="badge-item-vote-container post-afterbar-a in-list-view">
          <ul>
            <% if cost.user == current_user %>
              <li><%= link_to "Delete", cost, method: :delete, :confirm => 'Are you sure you want to remove this cost? This cannot be undone.', class: "btn btn-danger social", style: "padding: 7px;" %></li>
            <% end %>
          </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
