<div class="slider">
  <h1>Determine Your Disposabl Income</h1>
</div>

<div class="container gif">
  <h2>How much money do you have to throw around?</h2>
<img src="https://media.giphy.com/media/8zuHuiw0RwMVy/giphy.gif">
</div>
