<div class="slider">
  <h1>Determine Your Disposabl Income</h1>
</div>
<div class="container">


  <div class="col-md-4 col-md-offset-1 pull-right tindering">

  </div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-1 padding-top">

  </div>
</div>
