<div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-6">
		 			<h4>About Disposabl</h4>
		 			<div class="hline-w"></div>
		 			<p>Disposabl.</p>
		 		</div>

		 		</div>


		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
